
    #imagem-capa img{

        width: 100%;
        height: 400px;
        box-shadow: 1px 1px 3px rgb(31, 31, 31);

    }


    table{

        display: flex;
        justify-content: center;
        padding: 10px;
        border-collapse: separate;
        border-spacing: 70px;
    }


    .form{

     
        border: 2px solid darkgray;
        border-radius: 5px;
        box-shadow: 2px black;
        font-family: nunito;
        width: 500px;
        height: 450px;
        padding: 30px 30px;
    }

    .form p{

        font-family: nunito;
        font-size: 20px;
        text-align: center;        

    }

    .form input{

        width: 260px;
        height: 20px;
        border-radius: 9px;
        border: 1px solid darkgray;
        margin: 5px 0;
        
    }

    .form textarea{

        width: 260px;
        height: 100px;
        border-radius: 9px;
        border: 1px solid darkgray;
        
    }
    

    .form button{

        background-color: rgb(67, 99, 201);
        color: aliceblue;
        border-radius: 20px;
        position:relative;
        left: 10px;
        top: 10px;
        width: 160px;
        height: 40px;

    }
   
    .contatos{

        text-align: center;
        font-size: 18px;
        font-family: nunito;
        padding: 40px;
        
    }

    .fale-conosco{

        font-family: nunito;
        font-size: 20px;
    }


    .fale-conosco img{

        width: 50px;
        height: 50px;
    }