    
    #imagem-capa img{

        width: 100%;
        height: 400px;
        box-shadow: 1px 1px 3px rgb(31, 31, 31);

    }

    .conteudo1 h1{

        text-align: center;
        font-family: nunito;
        font-size: 40px;
        padding: 30px;
    }

 

    .conteudo1 p{

        font-family: Verdana, Geneva, Tahoma, sans-serif;
        text-align: justify;
        line-height: 30px;
        margin: 30px 80px;

    }


    .bloco{

        display: flex;
        justify-content: center;
        padding: 60px;
         

    }

 
    .bloco1{

        background-color: rgb(250, 247, 247);
        border-radius: 10px;
        border: 2px solid rgb(231, 231, 231);
        box-shadow: 1.5px 1.5px 6px rgb(216, 216, 216);
        width: 260px;
        height: 320px;
        margin: 30px;
        
          

    }


    .bloco1 h3{

        font-family: nunito;
        text-align: center;
        font-size: 18px;
        padding: 10px;
        margin-top: 10px;

    }

    .bloco1 p{

        font-family: nunito;
        text-align: center;
        font-size: 13px;
        margin: 20px;
        line-height: 25px;
        
    }

    .bloco1 img{

        width: 50px;
        height: 50px;
        margin-top: 30px;
        margin-right: auto;
        margin-left: auto;
        display: block;
        
        
    }
   
    

 